/* Root variables that Bootstrap provides*/
:root {
    --bs-primary: #4AAD99; 
    --bs-primary-rgb: 74,173,153;
  }
.border-primary {
    border-color: var(--bs-primary) !important
}
.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}
.cust-sticky {
    position: fixed;
    left: 0;
    bottom: 0;
}
body {
    font-family: "Source Sans Pro";
    height: 100%;
}
.cust-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: xx-large;
}
@media (min-width: 992px) {
    .cust-border {
        border-right: #4AAD99;
        border-right-width: 5px;
        border-right-style: solid;
    }
}
