{{ define "main" }}
	<main>
		<article class="container py-2" style="margin-bottom: 3em;">
			<h1 class="py-2">{{ .Title }}</h1>
			<div>
				{{ .Content }}
			</div>
			{{ with .Params.tags }}
			<div>
				<ul id="tags">
					{{ range . }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>
			{{ end }}
			{{ with .Site.DisqusShortname }}
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
			{{ end }}
		</article>
	</main>
<!-- {{ partial "sidebar.html" . }} -->
{{ end }}
