<div class="bg-primary px-2 py-4">
    <div class="container">
        <div class="row ">
            <div class="col text-center text-light fs-5">
                {{ .Site.Params.Banner.Text}}
            </div>
            <div class="col text-center">
                <a href="{{ .Site.Params.Banner.buttonlink}}" target="_blank" rel="noopener
								noreferrer" class="btn btn-light text-primary">{{ .Site.Params.Banner.buttontext}}</a>
            </div>
        </div>        
    </div>
</div>
