<div class="cust-sticky px-4">
	<div class="p-2">
		<div class="cust-circle bg-secondary d-flex justify-content-center align-items-center">
			<a class="link-light" href="tel:{{ .Site.Params.countryCode }}{{ .Site.Params.telefono }}" aria-label="telefono">
				<i class=" text-light bi-phone-vibrate p-1"></i>
			</a>
		</div>
	</div>
	<div class="p-2" >
		<div class="cust-circle d-flex justify-content-center align-items-center" style="background-color: #25D366;">
			<a class="link-light" href="https://api.whatsapp.com/send?phone=34697382872&text=Consulta%20AFRIMA%20VALENCIA" aria-label="whatsapp link">
				<i class="bi-whatsapp p-1"></i>
			</a>
		</div>
	</div>
</div>