<header>
	<div class="ui">
		<p>{{ .Site.Params.telefono }} - {{ .Site.Params.email }}</p>
	</div>
	
	<div class="ui borderless stackable huge menu">
		<a href="{{ .Site.BaseURL }}" class="header item"><img class="ui tiny fluid image" src="{{ .Site.Params.logoPath }}" alt="logo afrima"></a>
		<div class="right menu">
			{{ with .Site.Menus.main }}
				{{ range . }}
				<a href="{{ .URL | relURL }}" class="item">{{ .Name }}</a>
				{{ end }}
			{{ end }}
			<div class="item">
				<button class="ui button"><a href="https://app.fynkus.com/login/" target="_blank" rel="noopener noreferrer">Despacho Online 24H</a></button>
		  	</div>
		</div>
	</div>
	<br>
</header>
